* {
    background-color:white;
    color:black;
    margin:0px;
    padding:0px;
    font-size:12pt;
    width:100%;
}
h1,h2,h3 {
    text-decoration:none;
    box-shadow:none;
    color:black;
}
h2,h3 {
    font-size:20pt;
    padding-top:10px;
    padding-bottom:5px;
}
section,nav,aside,.mobile-bar,.mobile-wrap {
    display:none;
}
h1 {
    font-size:22pt;
}
article {
    border:none;
    page-break-inside: avoid;
}
footer {
    padding-top:10px;
    font-size:10pt;
    border:none;
}


